psycopg2-binary
xarray
numpy
duckdb
fastparquet
pyyaml
netCDF4
sentence_transformers
streamlit
requests
matplotlib
plotly
scikit-learn
folium
streamlit_folium
fastapi
uvicorn[standard]
python-multipart
pydantic
pandas
pyarrow
faiss-cpu
